* {
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body { 
  overflow: hidden; 
}

.action {
	left: 2vw;
	top: 2vw;
	position: absolute;
	color: #fff;
	font-family: monospace;
	font-size: 2vw;
	letter-spacing: 0.06em;
}