.coordinates {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);

	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: 'Courier', monospace;
	font-size: 1.2vw;
	padding: 1em;
}

	.coordinates--active { transition: 0.1s all; }