.tutorial {
	color: #fff;
	font-family: 'Courier New', monospace;
	font-size: 24px;
	overflow: visible;
	opacity: 0;
	transition: 0.5s opacity;
}

.tutorial--active {
	opacity: 1;
}

.tutorial__marker {
	position: absolute;
	bottom: 20px;
	right: 20px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 2px solid #fff;
	text-align: center;
	cursor: pointer;
}
	
.tutorial__marker--close {
	font-size: 32px;
}

.tutorial__overlay {
	background: rgba(0, 0, 0, 0.75);
	font-size: 20px;
	position: absolute;
	padding: 15vh 15vw;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

ul {
	list-style-type: none;
}

.underline {
	text-decoration: underline;
}